<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="navbar-container ">
      <div class="navbar newpost">
        <h1 class="new-post-heading">Create A New Post</h1>
      </div>
    </div>

    <div class="new-post-container">
      <form action="/post/create/new" method="post">
        <div class="post-content">
            <div class="title-input">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" required/>
            </div>
        <div class="descr-input">
 
          <label for="description">Description:</label>
          <textarea
            type="text"
            id="description"
            name="description"
            cols="30"
            rows="10"
            required
          ></textarea>
                     
        </div>
          <button class="post-btn" type="submit">POST</button>
        </div>
      </form>
    </div>
  </body>
</html>
