* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}
.post-container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
  overflow-x: hidden;
}
.navbar-container {
  width: 100%;
  height: 100px;
  background-color: blue;
}
.sticky {
  position: fixed;
  top: 0;
  z-index: 1;
}
.user-img {
  border-radius: 50%;
  height: 75px;
}
.creator-img {
  height: 30px;
  border-radius: 50%;
}
.creator-displayName {
  margin-left: 5px;
}
.creator-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 25%;
}
.icons {
  flex: 25%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.icons form {
  margin-right: 15px;
}
.fa-icons {
  padding: 5px;
  font-size: 2rem;
  background: transparent;
}
.fa-icons:hover {
  cursor: pointer;
}
.user-img:hover,
.creator-img:hover {
  cursor: pointer;
}
.creator-displayName:hover {
  cursor: pointer;
  color: blue;
}

.navbar {
  width: 80%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.newpost {
  justify-content: center;
}
.new-post-heading {
  color: white;
  text-align: center;
}
.create-post-btn {
  font-size: 2rem;
  padding: 10px;
  background: none;
  border: none;
  color: white;
}
.create-post-btn:hover {
  cursor: pointer;
  color: blue;
  background-color: white;
  border-radius: 10px;
}
.create-post-btn a {
  text-decoration: none;
}
.post-data {
  display: flex;
  flex-direction: column;
  padding: 30px;
  width: 90%;
  align-items: center;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
.creator {
  display: flex;
  width: 90%;
  flex-direction: row;
  justify-content: space-between;
}
.title-container {
  flex: 50%;
  display: flex;
  margin-top: -9px;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 15px;
}
.title {
  font-size: 2.1rem;
  color: skyblue;
  font-style: italic;
  text-decoration: underline;
  text-decoration-thickness: 2px;
  text-underline-position: under;
}

.descr {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.9rem;
  font-family: "Calibri", "Trebuchet MS", sans-serif;
  margin-bottom: 6px;
  overflow-x: hidden;
}

.created-at {
  padding-top: 10px;
  font-size: 1.01rem;
  font-style: italic;
}

.new-post-container {
  margin-top: 70px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.post-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.descr-input {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.title-input input {
  width: 300px;
  height: 40px;
  font-size: 1.3rem;
  padding: 5px;
}

.descr-input textarea {
  width: 600px;
  height: 300px;
  padding: 10px;
  font-size: 1.3rem;
  resize: none;
}

.post-btn {
  background: blue;
  color: white;
  margin-top: 30px;
  margin-left: 30px;
  width: 200px;
  padding: 20px;
  font-size: 2rem;
  border-radius: 10px;
  border: none;
}

.post-btn:hover {
  cursor: pointer;
  color: blue;
  background: white;
  font-weight: bold;
  border: 3px solid blue;
}

label {
  font-size: 1.5rem;
}

.form-btn {
  border: none;
  background: transparent;
}

.hide {
  position: absolute;
  visibility: hidden;
}
.visi {
  position: relative;
  visibility: visible;
}

.formDelete {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 60%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-content {
  height: 150px;
  width: 70%;
  background: rgb(44, 42, 42);
  border: 4px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.btn {
  height: 100%;
  width: 100%;
  background: transparent;
  color: white;
  border: none;
  margin-left: 10px;
  margin-right: 10px;
  padding: 8px;
  transition: transform 0.3ms;
  font-size: 1.5rem;
  border: 2px solid white;
  border-radius: 10px;
}
.form-text {
  font-size: 1.5rem;
  color: white;
}
.form-btns {
  margin-top: 3px;
  display: flex;
  flex-direction: row;
}
.btn:hover {
  cursor: pointer;
  background: white;
  color: black;
  border-radius: 10px;
}
